*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f8f6;
    font-family: Arial, Helvetica, sans-serif;
}
.active{
    background-image: linear-gradient(70deg,#3ac2ff 50%,#2f56ff);
    color:#fff;
    padding: 12px;
    font-weight: bold;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.section_nav{
    display: grid;
    grid-template-columns: 10% 45% 25%;
    background-color: #fff;
    width: 100%;
    margin-top: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px 0 rgba(99,99,99, 0.2);
    padding: 1rem 2rem;
    justify-content: space-between;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

}

.left_nav{
    height: 100%;
}
.img-logo{
    min-width: 50px;
}
img{
    width: 100%;
}
.center_nav ul{
    justify-content: space-between;
    height: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.center_nav{
    /* width: 50%; */
}
.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}
.user-profile{
    width: 50px;
    height: 50px;
}
.user-profile img{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.right_nav{
    /* width: 20%; */
    justify-content: end;
}
.user_section{
gap: 1rem;
}
.icon_group{
    gap: 2rem;
    margin-right: 1rem;
}
.connection-status{
    width: 67px;
    background-color: #edfdfa;
    padding: 0.4rem;
    border-radius: 3px;
    text-align: center;
    color: #1f927f;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

@media screen and (max-width : 1000px) {
    .img-logo{
        min-width: 36px;
    }
    .section-logo{
        font-size: 0.9rem;
    }
    .center_nav ul li a{
        font-size: 0.8rem;
    }
    .active{
        padding: 6px;
    }
    .icon_group a svg{
        width: 13px;
    }
    .connection-status{
        padding: 0.2rem;
        font-size: 0.8rem;
        width: 57px;
    }
    .user-profile{
        width: 40px;
        height: 40px;
    }
    .section_nav{
        grid-template-columns: 3% 42% 24%;
    }
}
#toggle_nav:checked +label + ul{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
#toggle_nav:checked + label span:first-child{
    transform: rotate(45deg);
    position: relative;
    top: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
#toggle_nav:checked + label span.line_mid{
    transform: translateX(10px);
    opacity: 0;
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}
#toggle_nav:checked + label span:last-child{
    transform: rotate(-45deg);
    position: relative;
    top: -5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
@media screen and (min-width : 768px){
    .mobile_nav{
        display: none;
    }
}
@media screen and (max-width : 768px){
.center_nav{
    display: none;
}
.mobile_nav_list{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #fff;
    transform: translateX(-350px);
    transition: all 250ms ease-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 0 2rem 2rem;
    gap: 2.5rem;
    overflow-x: hidden;
    -webkit-transform: translateX(-350px);
    -moz-transform: translateX(-350px);
    -ms-transform: translateX(-350px);
    -o-transform: translateX(-350px);
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
}
.line{
    border-bottom: 2px solid;
    width: 14px;
    display: block;
    margin-bottom: 3px;
    transition: all 260ms ease-out;
    -webkit-transition: all 260ms ease-out;
    -moz-transition: all 260ms ease-out;
    -ms-transition: all 260ms ease-out;
    -o-transition: all 260ms ease-out;
}
.label_toggle_nav{
    position: relative;
    top: 16px;
}
.section_nav{
    grid-template-columns: 3% 89% 3%;
}
}

